@model Cumulative1.Models.Teacher
<h2> Edit Teacher </h2>


<div class="form-container">
    <form action="/TeacherPage/UpdateTeacher/@Model.TeacherId" method="POST">
        <div class="form-items">
            <label for="teacherfname">First Name:</label>
            <input type="text" id="teacherfname" name="teacherfname" value="@Model.TeacherFname" required>
        </div>
        <div class="form-items">
            <label for="teacherlname">Last Name:</label>
            <input type="text" id="teacherlname" name="teacherlname" value="@Model.TeacherLname" required>
        </div>
        <div class="form-items">
            <label for="employeenumber">Employee Number:</label>
            <input type="text" id="employeenumber" name="employeenumber" value="@Model.EmployeeNumber" required>
        </div>
        <div class="form-items">
            <label for="hiredate">Hire Date:</label>
            <input type="date" id="hiredate" name="hiredate" value="@Model.TeacherFname">
        </div>
        <div class="form-items">
            <label for="salary">Salary:</label>
            <input type="number" id="salary" name="salary" step="0.01" value="@Model.Salary" >
        </div>
            <div class="form-items">
            <label for="teacherworkphone">teacher work phone:</label>
            <input type="text" id="teacherworkphone" value="@Model.teacherworkphone" name="teacherworkphone">
        </div>
        <div class="form-items">
            <input type="submit" value="Update Teacher">
        </div>

    </form>
</div>